img{
    width: 40px;
    height: 400px;
    
}

.card{
    margin-bottom: 50px;
    margin-left: 40px;
}

.card-body{
    position: absolute !important;
    transform: translateY("100px") !important;
}